body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: #b0d8e3;
    font-size: 2rem;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

details {
    font-size: 1.5rem;
}

small {
    font-style: italic;
}